body{
  background: #ffffff;
}
#top{
  display: inline-block;
  width: 100%;
  height: 50px;
  position: relative;
  background: #ffffff;
}
#top-desno{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 10%;
  margin: 10px;
  top:15px;
  right: 40px;
  background: #ffffff;

}
#top-desno2{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 10%;
  margin: 10px;
  top:15px;
  right: -10px;
  background: #ffffff;
}
#top-prijava{
  display: inline-block;
  position: absolute;
  width: 20%;
  margin: 20px;
  top:0px;
  right: -150px;
  background: #ffffff;
}
#button{
  background-color: #0066cc; /* Blue */
   border: none;
   color: white;
   padding: 10px 22px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   border-radius: 4px;
}
.elem{

}
#sredisnji{
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: #ffffff;
  margin: auto;

}
#image{
padding-top: 100px;
width: 392px;
}
#input-trazilica{
  width: 100%;
}
#trazilica{
  width: 100%;
  height: auto;
  padding-top: 50px;
  outline: none;

  border: none;
  display: inline-block;
}
#unutarnji{
  padding-top: 20px;

}
#prijava{
  display: inline-block;
  margin-right: 30px;
}
#sreca{
  display: inline-block;


}
#text{
  display: block;
  line-height: 28px;
  text-align: center;

}
#footer{
    display: inline-block;
    width: 100%;
    height: 20%;
    position: relative;
    background: #f2f2f2;
    bottom:0px;
    padding-bottom: 20px;
    margin-top: 400px;
}
#oglasavanje{
  position: absolute;
  display: inline-block;
  left: -350px;
}
#firma{
  position: absolute;
  display: inline-block;
  left: -250px;
}
#o-nama{
  position: absolute;
  display: inline-block;
  left: -190px;
}
#privatnost{
  position: absolute;
  display: inline-block;
  left: 400px;

}
#uvjeti{
  position: absolute;
  display: inline-block;
  left: 500px;
}
#podesavanje{
  position: absolute;
  display: inline-block;
  left: 600px;
}
